@import url("https://fonts.googleapis.com/css?family=Roboto|Ubuntu+Condensed");*,*+*,:after,:before{box-sizing:border-box}html.wp-toolbar{padding-top:0}body{font-family:"Roboto", sans-serif;background:#FAFAFF}#adminmenu,#adminmenuback,#adminmenuwrap{display:none}#wpcontent,#wpfooter{width:100%;margin:0}.metabox-holder .postbox-container .empty-container:after{display:none;content:''}.postbox{border:0;box-shadow:none}.postbox .hndle{border:0}.postbox .inside{margin:0}
/*# sourceMappingURL=mycore_custom.css.map */