@import url('https://fonts.googleapis.com/css?family=Roboto|Ubuntu+Condensed');

$PrussianBlue       :       #0B3954;
$GhostWhite         :       #FAFAFF;
$SteelBlue          :       #2E86AB;
$RubyRed            :       #A31621;
$Vermillion         :       #DD403A;

$Roboto             :       'Roboto', sans-serif;
$UbuntuCondensed    :       'Ubuntu Condensed', sans-serif;

*, * + *, *:after, *:before {
    box-sizing: border-box;
}

html.wp-toolbar {
    padding-top: 0;

}

body {
    font-family: $Roboto;
    background: $GhostWhite;
}

#adminmenuwrap, #adminmenu, #adminmenuback {
    display: none;
}

#wpcontent, #wpfooter {
    width: 100%;
    margin: 0;
}

.metabox-holder .postbox-container .empty-container:after {
    display: none;
    content: '';
}

.postbox {
    border: 0;
    box-shadow: none;

    .hndle {
        border: 0;
    }

    .inside {
        margin: 0;
    }
}
